.home-bg {
  margin-top: -20px;
  /* 背景画像を暗くしています */
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), image-url('lionello.jpg');
  /* 背景全体に画像を表示します */
  background-size: cover;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  position: relative;
}

.home-bg p {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 8vw;
  text-align: center;
}
